# Archivos de compilacion
complementador.done
complementador.*.rpt
complementador.*.summary
complementador.fit.*
complementador.jdi
complementador.qsf
complementador.pin
complementador.sof

# Carpetas
/db/
/incremental_db/
